.login-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1521128591876-b4ace034003a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  z-index: -1;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login {
  height: calc(100vh - 56px);

  display: flex;
  justify-content: center;
  align-items: center;
  .login-row {
    width: 100vh;

    .login-col6 {
      background-color: #ffffff;
      padding: 30px;
      flex-grow: 3;
      border-style: 5px solid #ffffff;
      border-radius: 15px;
    }
  }
}
