@import '../../styles/colours.scss';



.login-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login {
  height: calc(100vh - 56px);

  display: flex;
  justify-content: center;
  align-items: center;
  .login-row {
    width: 100vh;

    .login-col6 {
      background-color: #ffffff;
      padding: 30px;
      flex-grow: 3;
      border-style: 5px solid #ffffff;
      border-radius: 15px;

    }
  }
}
