@import '../variables/colors.scss';
@import '../variables/functions.scss';

.button {
  background: $bright-yellow;
  border: 0;
  border-radius: 2rem;
  color: $dark-grey;
  font-weight: 700;
  margin-bottom: rem(16);
  padding: rem(16) rem(24);

  &:hover,
  &:active:focus {
    background: $pale-yellow;
    color: $dark-grey;
  }

  &.small {
    font-size: rem(14);
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
  }

  &.outline {
    background: none;
    border: 1px solid $light-grey;

    &:hover {
      background: $light-grey;
      color: $white;
    }

    &:active:focus {
      background: $light-grey;
      color: $white;
    }
  }
}
