.errors{
  .errors-col6{
    background-color: #424242;
    border-style: 5px solid #424242;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 20px;

    p{
      text-align: center;
      color: #DD6363;
      font-weight: bold;
    }
  }

}
