@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/functions.scss';

.dog-card {
  margin-top: 30px;

  .description {
    color: #a3a3a3;
  }

  .card-title {
    text-align: center;
  }

  .img {
    height: rem(256);
    position: relative;
    overflow: hidden;

    img {
      top: 50%;
      position: absolute;
      transform: translateY(-50%);
      width: 100%;
    }
  }
}
