@import '../../../styles/variables/colors.scss';

.dark {
  .navbar-light .navbar-nav .nav-link,
  .navbar-brand,
  .navbar-brand:focus {
    color: $dark-grey;

    &:hover {
      color: $light-grey;
    }
  }
}

.light {
  .navbar-brand,
  .navbar-brand:focus,
  .navbar-light .navbar-nav .nav-link {
    color: $bright-yellow;

    &:hover {
      color: $pale-yellow;
    }
  }
}
