.dog-card-profile {
  .title-name {
    text-align: center;
  }
  p.titles {
    text-align: center;
    border-bottom: 2px solid #fcfc53;
    color: #424242;
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;
  }
  .button {
    flex-basis: 25%;
  }
}
