@import '../../styles/variables/colors.scss';
@import '../../styles/variables/functions.scss';

.me-page {
  padding-top: 50px;
  padding-bottom: 50px;

  h2 {
    font-size: rem(19);
    line-height: rem(24);
    font-weight: 700;
    margin-bottom: rem(8);
  }

  h4 {
    margin: auto;
    padding-top: rem(48);
    padding-bottom: rem(48);
  }

  .my-profile-panel {
    .row {
      .col {
        .img-container {
          border-radius: rem(5);
          overflow: hidden;
          padding-top: 66.666667%;
          position: relative;
          margin-bottom: rem(24);

          img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
          }
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

.button {
  width: 100%;
}
