@import '../../styles/colours.scss';


.register-row{
  margin-top: 40px;
  margin-top: 20px;
  .col-10{
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    border-style: 5px solid #ffffff;
    border-radius: 15px;
    .register-button {
      margin-top: 15px;
      margin-left: 14px;
      background: $dark-grey;
      color: #ffffff;
      border-color: $dark-grey;
      border-radius: .25rem;

      &:hover {
        background: $bright-yellow;
        border-color: $bright-yellow;
        color: $dark-grey;
      }
      &:active:focus {
        background: $bright-yellow;
        border-color: $bright-yellow;
        color: $dark-grey;
        outline: 0;
      }
    }
  }

}
