@import './styles/functions.scss';

.button {
  background: $bright-yellow;
  border: 0;
  color: $dark-grey;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-weight: 700;
  margin-bottom: 1rem;

  &:hover {
    background: $pale-yellow;
    color: $dark-grey;
  }

  &:active:focus {
    background: $bright-yellow;
    color: $dark-grey;
  }

  &.small {
    font-size: rem(14);
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
  }


  &.outline {
    background: none;
    border: 1px solid $light-grey;

    &:hover {
      background: $light-grey;
      color: #fff;
    }

    &:active:focus {
      background: $light-grey;
      color: #fff;
    }
  }
}
